@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	/*background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/banner_background.jpg");
	background-size: cover;
	box-sizing: border-box;
	background-repeat:no-repeat;*/
}
.top-container {
	background: url("images/banner_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.col-lg-6 {
	margin-top: 5%;
	padding: 60px;
}
.col-lg-6 h1 {
	letter-spacing: 3px;
	margin-left: 35%;
}
.col-lg-6 p {
	letter-spacing: 1px;
	margin-left: 10%;
}
.col-lg-6 button {
	margin-left: 15%;
}
.card {
	width: 100%;
	display: inline-block;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 15px;
	background-position: center;
	transition: transform 0.5s;
	opacity: 0.5;
}
.card-1 {
	background-image: url("images/card_1.jpg");
	background-size: cover;
}
.card-2 {
	background-image: url("images/card_2.jpg");
	background-size: cover;
}
.card-3 {
	background-image: url("images/card_3.jpg");
	background-size: cover;
}
.card-4 {
	background-image: url("images/card_4.jpg");
	background-size: cover;
}
p {
	background: none;
}
h5 {
	background: none;
}
button {
	width: 180px;
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}